<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/main.css'>
    <title>Dev Diaries</title>
</head>
<body class="bg-slate-100 h-screen">
    <header class="bg-slate-600 sticky top-0">
        <div class="flex flex-row justify-between px-8 py-6">
            <h1 class="font-mono text-2xl font-semibold text-emerald-300 tracking-wider">
                <a href="/">DEV DIARIES</a>
            </h1>
            <nav>
                {{#if loggedIn}}
                <a href='/profile' class='font-mono text-emerald-300 font-medium hover:text-emerald-400 mr-5'>My Profile</a>
                <button id='logout' class='font-mono text-emerald-300 font-medium hover:text-emerald-400'>Logout</button>
                {{else}}
                <a href='/login' class="font-mono font-normal text-slate-600 bg-emerald-300 rounded py-2 px-2 hover:bg-emerald-400">Login/Signup</a>
                {{/if}}
            </nav>
        </div>
    </header>

    <main class="w-screen h-screen">
        {{{ body }}}
    </main>

    <div class="h-60"></div>
    <footer class="flex justify-center border-2 border-t-slate-200 bottom-0 sticky inset-x-0 font-mono text-slate-400 text-base py-3 bg-slate-100">
        Happy Coding!
    </footer>
        {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
</html>